.DS_Store
.atom/
.dart_tool/
.idea/
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
example/.atom/
example/.dart_tool/
example/.idea/
example/.packages
example/.pub/
example/build/
example/ios/.generated/